<div id='room-container'>
    <h1 id="welcome-header">
        Welcome to {{socketIoService.roomName}}, {{socketIoService.userName}}
    </h1>
    <div id="room">
        <div id='video-player-container'>
            <div class="iframe-container">
                <div id="player">Please join a room...</div>
            </div>
        </div>
        <div id='queue-container'>
            <div id='video-queue'>
                <div class='queue-item' 
                    *ngFor='let item of socketIoService.videoQueue'>
                    <img class='queue-item-thumbnail' src='{{item.videoThumbnail}}'/>
                    <div class='queue-item-text'>
                        <p class='queue-item-title'>{{item.videoTitle}}</p>
                        <p class='queue-item-id' >{{item.videoId}}</p>
                    </div>
                </div>
                <div class='queue-item' *ngIf='socketIoService.videoQueue.length === 0'>
                    <p>There are no items in the queue</p>
                </div>
            </div>
        </div>
        <div id='search-container'>
            <div id='search-input-container'>
                <input class="form-control" id='search-input' [(ngModel)]='searchString' autocomplete='off' />
                <button class="btn btn-default form-control" id='search-button' (click)='searchVideo()'>Search</button>
                <!-- <button class="btn btn-default" id='search' (click)='searchVideo2()'>Search2</button> -->
            </div>
            <div id='search-results-container'>
                <div class='search-result' 
                    *ngFor='let result of searchResults?.results'
                    (click)='selectVideo($event, result)'
                    [ngClass]="{'search-result-selected': result.selected}">
                    <img class='search-result-thumbnail' src='{{result.videoThumbnail}}'/>
                    <div class='search-result-text'>
                        <p class='search-result-title'>{{result.videoTitle}}</p>
                        <p class='search-result-id' >{{result.videoId}}</p>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline" id='search-results-send-container'>
                <button class="btn btn-default form-control" id='send-button' [disabled]="!(searchResults?.prevPageToken)" (click)='searchVideo(searchResults.prevPageToken)'>Previous</button>
                <button class="btn btn-default form-control" id='send-button' (click)='sendSelectedVideos()'>Send</button>
                <button class="btn btn-default form-control" id='send-button' [disabled]="!(searchResults?.nextPageToken)" (click)='searchVideo(searchResults.nextPageToken)'>Next</button>
            </div>
        </div>
    </div>
</div>