<div id='room-container'>
    <h1 id="welcome-header">
        Welcome to {{socketIoService.roomName}}, {{socketIoService.userName}}
    </h1>
    <div id="room">
        <div id='video-player-container'>
            <div class="iframe-container">
                <div id="player">Please join a room...</div>
            </div>
        </div>
        <div id='queue-container'>
            <div id='video-queue'>
                <ul>
                    <li *ngFor='let video of socketIoService.videoQueue'>
                        {{video.videoId}}
                    </li>
                    <li *ngIf='socketIoService.videoQueue.length === 0'>There are no items in the queue</li>
                </ul>
            </div>
        </div>
        <div id='search-container'>
            <div id='search-input'>
                <input class="form-control" id='search-input' [(ngModel)]='searchString' autocomplete='off' />
                <button class="btn btn-default" id='search' (click)='searchVideo()'>Search</button>
                <button class="btn btn-default" id='search' (click)='searchVideo2()'>Search2</button>
            </div>
            <div id='search-results-container'>
                <div class='search-result' 
                    *ngFor='let result of searchResults'
                    (click)='selectVideo($event, result)'
                    [ngClass]="{'search-result-selected': result.selected}">
                    <img class='search-result-thumbnail' src='{{result.videoThumbnail}}'/>
                    <div class='search-result-text'>
                        <p class='search-result-title'>{{result.videoTitle}}</p>
                        <p class='search-result-id' >{{result.videoId}}</p>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline" id='queue-form'>
                <button class="btn btn-default" id='send' (click)='sendSelectedVideos()'>Send</button>
            </div>
        </div>
    </div>
</div>