#room-container {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

#welcome-header {
    margin: 5rem auto;
}

#room {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

#video-player-container {
	flex: 1 0 0;
}

.iframe-container {
    display: block;
}

#player {
    display: block;
    margin: auto;
}

#queue-container {
    display: flex;
    flex-direction: column;
	flex: 1 0 0;
    padding: 1rem;
    height: 100%;
}

#video-queue {
    flex: 1 0 0;
}

.queue-item{
    flex: 1 0 0;
    
    height: 120px;
    padding: 1rem;

    display: flex;
    flex-direction: row;
}

.queue-item-id {
    display: none;
}

#search-container {
	flex: 1 0 0;
}

#search-input{
    flex: 1 0 0;

    display: flex;
    flex-direction: row;
}

#search-results-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
	flex: 1 0 0;
}

.search-result{
    
    height: 120px;
    padding: 1rem;

    display: flex;
    flex-direction: row;
}

.search-result-id {
    display: none;
}

.search-result-selected {
    border: 0.5rem solid green;
}

#search-results-send-container {
    
    flex: 1 0 0;
}
